---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>MOBILE GIRL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico">  
  <link rel="stylesheet" href="assets/css/main.css" />
  
</head>
<body>

    {% include header.html %}
    {% include intro.html %}
    {% include intro2.html %}
    {% include says.html %}
    {% include qa.html %}
    {% include botton.html %}
    {% include contant.html %}
    {% include footer.html %} 
    
<script src="assets/js/jquery-2.1.1.min.js"></script>
<script src="assets/js/functions.js" type="text/javascript"></script>
</body>
</html>