<section>
    <p id="botton"> </p>
    <div class="bottons">
        <div class="bottons-wrap">
            <p class="botton-1" style="position: absolute;">\ 看近期的活動 /</p>
            <a href="http://mobile-girls.kktix.cc/" target="_blank" ><div class="b1">
                <p class="icon-calendar"> </p> 參加活動
                </div></a>
        </div>

        <div class="bottons-wrap">
            <p class="botton-2" style="position: absolute;">\ Let's be friends / </p>
            <a href="http://goo.gl/5ptWjX" target="_blank" ><div class="b2"><p class="icon-facebook"></p>來找我們玩</div>
                </div></a>
    </div>
</section>
