<div class="contant">
    <p id="contant"> </p>
    <div class="contant-title">需要聯絡我們？</div>
    <form method="POST" action="//forms.brace.io/{{ site.data.settings.email }}">
        <div class="contant-info">
            
            <label><span>怎麼稱呼你</span>
            <input type="text" name="name"></label>
            
            <label><span>留下你的mail</span>
            <input type="email" name="_replyto"></label>
        
        </div>
        <label><span>有什麼要跟我們分享的呢</span>
        <textarea type="message"></textarea></label>
        <input type="submit" value="Send">
        <input type="hidden" name="_next" value="#" />
    </form>
</div>