<header>
    <div class="header-wrap">
        <div class="logo">
            {% include icons/logo.html %} 
        </div>
        <nav>
            <a href="#intro">About Us</a>
            <a href="#qa">Q&A</a>
            <a href="#botton">Event</a>
            <a class="contantHover" href="#contant">Contact</a>
        </nav>
        
    </div>
<h1>Mobile Girl</h1>
    <p>思考、交流、發現同好<br />這就是女孩與APP的小小天地</p>
    <div class="bottons-wrap">
        <p class="botton-1" style="position: absolute;">\ 看近期的活動 /</p>
        <a class="b1" href="http://mobile-girls.kktix.cc/" target="_blank" ><p class="icon-calendar"> </p> 參加活動
            </a>
    </div>
</header>
