<div class="section-intro">
    <h1 id="intro"> </h1>
    <div class="about">
        <div class="about-logo">
            <div class="logo-holder"> {% include icons/logo.html %} </div>
            <h1>mobile girl</h1>
            <p>是由一群熱愛 iOS 與 Android 朋友所成立的社群，宗旨是希望能夠推廣 iOS/Android 程式語言給女性初學者，讓想了解 iOS 和 Android 的女性能有機會學習。</p>
        </div>
    </div>
     <div class="anidea">
        <div class="iphone">
            <h1>an idea<p class="icon-light-bulb"></p></h1>
        </div>
    </div>

</div>