<div class="section-intro-2">
   <div class="about-holder">


       <div class="swift" style="line-height: 1.8;">
           <div class="about-box"><div class="about-icon">{% include icons/about2-swift.html %}</div><h1>Swift</h1>
            <p>你小提琴的故事。深海章魚。不是全都粉碎了。這些人仇視今日蘿莉控的眼光，</p>
            </div>
     </div>


       <div class="about-2" style="line-height: 1.8">
           <div class="about-box">
               <h4>學習什麼?</h4>
               <p style="font-size: 16px; color: #555;">報名時選擇想學習的開發平台</p>
                    <br /><br />
               <center><h4><span><p class="icon-apple" style="font-size: 24pt; line-height: 2"></p> ios</span><span><p class="icon-android" style="font-size: 24pt; margin: 0 0 0 16%;"></p> Android</span></h4><br />
               </center>

                <p>我們歡迎沒有電腦程式設計基礎的女性朋友來參加，只要對於任何新奇有趣的 App 設計、原理及應用感到興趣，您將可以在這個環境找到同好，並藉由業界專業教練的指導，在小組內共同合作打造它，實現您在 App 世界的專屬夢想！</p>
               </div>
           </div>




       <div class="eclipse" style="line-height: 1.8;">
           <div class="about-box"><div class="about-icon">{% include icons/about2-eclipse.html %} </div><h1>Eslipse</h1>
            <p>你究竟是誰哪，中央是一大碗烏鴉肉做的炸醬。是夕陽中的新娘，再抱起橘子走。</p>
            </div>
     </div>
       <div class="hovers" style="line-height: 1.8;">
        <div class="swifthover" style="background-color: blue;">sdgsdhsgd</div>
        <div class="eclipsehover" style="background-color: blue;">sdghdghfgdh</div>
        </div>
    </div>

</div>
