<div class="section-intro-2">
   <div class="about-2image">
        <div class="about-2" style="line-height: 1.8">
            <div class="about-box"><h4>學習什麼？</h4><br />學員在報名時選擇想學習的開發平台<br /><p class="icon-apple" style="font-size: 24pt; line-height: 2"></p><p>ios  </p>或   <p class="icon-android" style="font-size: 24pt"></p><p>Android</p><br />
            <p>我們歡迎沒有電腦程式設計基礎的女性朋友來參加，只要對於任何新奇有趣的 App 設計、原理及應用感到興趣，您將可以在這個環境找到同好，並藉由業界專業教練的指導，在小組內共同合作打造它，實現您在 App 世界的專屬夢想！</p>
            </div>
     </div>
    </div>

</div>