.section-intro-2
    +transform
    clear: both
    padding-top: 8%
    .about-2image
        height: 360px
        padding: 0 30% 10% 31%
        background:
            //image: url(/assets/images/cave2.png)
            position: 103% -2%
            repeat: no-repeat
            size: 58%
        .about-2
            line-height: 1.8
            margin: 0 auto
            .about-box
                padding: 0 16% 0 14%
                h4
                    margin: 0
                    color: #333
                    latter-spacing: 1.2px
                    font:
                        family: roboto
                        size: 18pt
                p
                    display: inline
                
@media screen and (max-width: 980px)
    .section-intro-2
        
        .about-2image
            padding: 0 20% 0% 20%
            height: 460px
            background:
                position: 122% -5%
                size: 70%
                    

@media screen and (max-width: 680px)
    .section-intro-2
        
        .about-2image
            padding: 0 15% 0% 15%
            height: 440px
            background:
                //image: url(/assets/images/cave2.png)
                position: 100% -5%
                repeat: no-repeat
                size: contain
                    
            .about-2
                
                .about-box
                    padding: 0 